* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100svh;
    width: 100svw;
    color: #fff;
    background-color: #000;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

a {
    color: inherit;
    text-decoration: none;
}

hr {
    width: 90%;
    height: 1px;
    margin: 2rem 0;
    border: 0;
    background: #fff;
}

h1 {
    margin: .5em;
}

#container {
    height: 100%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#logo {
    width: 50%;
}
