* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    color: #fff;
    background-color: #000;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    margin-bottom: 1em;
}
